<!DOCTYPE html>
<html>
  <head>
    <title>Form Example</title>
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/home.css">

  </head>
  <body>
    <%- include('./partials/head.ejs') %>
    <form action="/createBlog" method="post">
      <h1>Title:</h1>
      <input type="text" name="title" placeholder="Enter the title" required />

      <h2>Subtitle:</h2>
      <input
        type="text"
        name="subtitle"
        placeholder="Enter the subtitle"
        required
      />

      <h3>Description:</h3>
      <textarea
        name="description"
        placeholder="Enter the description"
        rows="4"
        required
      ></textarea>

      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
